Source: ros-kilted-feetech-ros2-driver
Section: misc
Priority: optional
Maintainer: Jafar Uruc <jafar.uruc@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libfmt-dev, librange-v3-dev, libserial-dev, libspdlog-dev, pkg-config, ros-kilted-ament-cmake, ros-kilted-hardware-interface, ros-kilted-pluginlib, ros-kilted-rclcpp, ros-kilted-tl-expected, ros-kilted-ros-workspace
Homepage: https://github.com/JafarAbdi/feetech_ros2_driver
Standards-Version: 3.9.2

Package: ros-kilted-feetech-ros2-driver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libfmt-dev, librange-v3-dev, libserial-dev, libspdlog-dev, pkg-config, ros-kilted-hardware-interface, ros-kilted-pluginlib, ros-kilted-rclcpp, ros-kilted-tl-expected, ros-kilted-ros-workspace
Description: ros2_control hardware interface for Feetech Servos
